.base {
  all: unset;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 9px 25px;
  border-radius: 9999px;
  user-select: none;
}

.primary {
  background: rgba(247, 49, 49, 0.9);
}

.primary:hover {
  background: rgba(247, 49, 49, 0.8);
}

.secondary {
  background: rgba(0, 0, 234, 0.7);
}

.secondary:hover {
  background: rgba(0, 0, 234, 0.8);
}

.tertiary {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.tertiary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bordered {
  border: 1px solid rgb(255, 255, 255);
}

.bordered:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.ghost {
  color: black;
}

.ghost:hover {
  background: rgba(128, 128, 128, 0.1);
}

.icon {
  padding: 0;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 234, 0.8);
}

