.bannerContainer {
  background: rgb(232, 225, 225);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(900px, 100% - 20px);
  margin: auto;
  color: rgb(33, 33, 33);
  gap: 30px;
}

.bannerMobile {
  padding-top: 100px;
  flex-direction: column;
  padding: 30px;
}

.title {
  font-size: 1.3em;
}

.description {
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
