.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: min(1200px, 100% - 20px);
  margin: auto;
}

.loginButtons {
  display: flex;
  gap: 15px;
}
