.search {
  all: unset;
  border-radius: 9999px;
  border: 1px solid rgba(75, 75, 75, 0.8);
  padding: 0 20px;
  height: 40px;
  color: rgba(75, 75, 75);
  display: flex;
  align-items: center;
}

.mobileSearch {
  width: 40px;
}

.input {
  all: unset;
  height: 100%;
}
